* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.main{
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    width: 100vw;
    height: 100vh;
}

.col-1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgrey;
    height: 100vh;
}

.caixaReg {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    height: 100px;   
}

.col1-btn {
    background-color: #287DEB;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 16px;
    margin: 25px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 1px 1px 4px 1px rgba(51, 51, 51, 0.4);
}

.col1-btn i {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.col1-btn:hover {
    background-color: #3362a0;
    transition: 0.5s;
    cursor: pointer;
}

.col-2 {
    background-color: #F7F7F9;
    border-right: 1px solid lightgray;
}

.search-bar {
    height:42px;
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 33%;
}

.col-2 button, input{
    margin-top: 15px;
}

.col2-btn {
    height: 42px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 15px 0 15px 15px;
}

.col2-btn:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    transition: 0.5s;
}

.categorias {
    border-bottom: 1px solid lightgray;;
}

.categorias h1, .produtos h1, .carrinho h1 {
    margin: 15px 0 0 15px;
}

.produtos .search-bar{
    margin-left: 15px;
}

.card-grid {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.produto-card {
    border: 1px solid lightgray;
    border-radius: 4px;
    
    padding: 10px;
}

.produto-card img {
    height: 66%;
    display: block;
    margin: 0 auto;
}

.card-btn {
    background-color: #287DEB;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 1px 4px 1px rgba(51, 51, 51, 0.4);
    width: 80%;
    display: block;
    margin: 0 auto;
}

.card-btn:hover {
    background-color: #3362a0;
    transition: 0.5s;
    cursor: pointer;
}

.col-3 {
    background-color: white;
}

.cliente {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
}

.col3-btn {
    background-color: #287DEB;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    margin: 15px 0 15px 15px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 1px 1px 4px 1px rgba(51, 51, 51, 0.4);
    width: 80%;
}

.col3-btn:hover {
    background-color: #3362a0;
    transition: 0.5s;
    cursor: pointer;
}

.carrinho-itens {
    min-height: 60vh;
}

.carrinho-resumo {
    border-top: 1px solid lightgray;
}

.carrinho-resumo div {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 0px 15px;
    border-bottom: 1px dotted lightgray;
}

.carrinho-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.finalizar-btn {
    background-color: #287DEB;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    margin: 15px 0 0px 15px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 1px 1px 4px 1px rgba(51, 51, 51, 0.4);
    width: 80%;
}

.finalizar-btn:hover {
    background-color: #3362a0;
    transition: 0.5s;
    cursor: pointer;
}